<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div *ngFor="let class of classList" class="singleTravailContainer">
    <div class="titreTravailContainer">
        {{class.name}}
    </div>

    <div class="detailTravailContainer">
    
        <p style="font-weight: bold;margin-bottom: 5px;">Professeur(s) en charge</p>

        <ul>
            <li *ngFor="let teacher of class.teachers">
                <p>{{teacher.first_name + " " + teacher.last_name}}</p>
            </li>
        </ul>

        
        <table *ngIf="class.assigments.length > 0" class="tableauListeResmises">
            <col style="width:88%;">
            <col style="width:12%">


            <tr>
                <th class="tableauTitresColones" style="text-align: left;">Remise :</th>
                <td class="second-column">
                    <a href="">
                        <div class="buttonAjouter">
                            <span style="vertical-align: middle;">Ajouter Remise </span><span class="iconButton material-symbols-outlined">add</span>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
        
        <ng-container *ngIf="class.assigments.length > 0">
            <table *ngFor="let assigment of class.assigments" class="tableauListeResmises">
                <col style="width:76%;">
                <col style="width:8%">
                <col style="width:8%">
                <col style="width:8%">
                <tr>
                    <td>
                        <p class="hyperlien" style="line-height:30px"> <u>{{formatDateObject(assigment.due_date) + " " + assigment.name}}</u></p>
                    </td>
                    <td class="second-column">
                        <a href="">
                            <div class="buttonApercu">
                                <span style="vertical-align: middle;">Aperçu </span><span class="iconButton material-symbols-outlined">visibility</span>
                            </div>
                        </a>
                    </td>
                    <td class="third-column">
                        <a href="">
                            <div class="buttonModifier">
                                <span style="vertical-align: middle;">Modifier </span><span class="iconButton material-symbols-outlined">edit</span>
                            </div>
                        </a>
                    </td>
                    <td class="second-column">
                        <a href="">
                            <div class="buttonCorriger">
                                <span style="vertical-align: middle;">Corriger </span><span class="iconButton material-symbols-outlined">edit</span>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </ng-container>

        <div *ngIf="class.assigments.length == 0">
            <br>
            <p style="font-weight: bold;">Aucune remise pour ce cours</p>
        </div>

    </div>
</div>
