<div class="singleTravailContainer">
    <div class="titreTravailContainer">
        Travail pratique01
    </div>

    <div class="detailTravailContainer">
        <h3>Informations:</h3>
        <div class="detail">
            <p> Documents fournis par l'enseignant</p>
            <p> Type(s) de fichier(s) attendu(s): </p>
            <p> Professeur(s) en charge: </p>
            <p> Date limite de remise du travail:</p>
            <p> Fermeture de la zone de dépot: </p>
        </div>

        <h3>Équipe de travail:</h3>
        <div class="detail">
            <p>Étudiant Un abcd1234</p> 
            <p>Étudiant Deux efgh5678</p>
        </div>

        <h3>Copies corrigés:</h3>
        <div class="detailNotFound">
            <p>Aucun travail n'a été remis à l'enseignant</p>
        </div>

        <h3>Remise antérieures:</h3>
        <div class="detailNotFound">
            <p>Aucun travail n'a été remis à l'enseignant</p>
        </div>

        <h3>Nouvelle remise:</h3>
        <div class="remiseTitreTravailContainer">
            Glisser vos dossier/fichiers ici ou cliquez sur le bouton suivant:
        </div>

    </div>
</div>