<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="singleTravailContainer">
    <div class="titreTravailContainer">
        Remise du travail "{{homework.name}}" ({{selectedClass}})
    </div>

    <div class="detailTravailContainer">
        <h3>Informations:</h3>
        <div class="detail">
            <table class="tableauListeResmises">
                <col style="width:89%;">
                <col style="width:11%">
                <tr>
                    <p style="line-height:30px"> Documents fournis par l'enseignant</p>
                    <td class="second-column">
                        <div (click)="this.simulatePost()" class="button buttonTelecharger">
                            <span style="vertical-align: middle;">Télécharger</span><span class="iconButton material-symbols-outlined">download</span>
                        </div>
                    </td>
                </tr>
            </table>
            <p style="line-height:30px"> Type(s) de fichier(s) attendu(s): </p>
            <p style="line-height:30px"> Professeur(s) en charge: </p>
            <p style="line-height:30px"> Date limite de remise du travail:</p>
            <p style="line-height:30px"> Fermeture de la zone de dépot: </p>
        </div>

        <table class="tableauListeResmises">
            <col style="width:86%;">
            <col style="width:7%">
            <col style="width:7%">
            <tr>
                <h3>Équipe de travail:</h3>
                <td class="second-column">
                    <div class="button buttonAjouter">
                        <span style="vertical-align: middle;">Ajouter</span><span class="iconButton material-symbols-outlined">add</span>
                    </div>
                </td>
                <td class="third-column">
                    <div class="button buttonRetirer">
                        <span style="vertical-align: middle;">Retirer</span><span class="iconButton material-symbols-outlined">remove</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="detail">
            <p style="line-height:30px">Étudiant Un abcd1234</p> 
            <p style="line-height:30px">Étudiant Deux efgh5678</p>
        </div>

        <table class="tableauListeResmises">
            <col style="width:86%;">
            <col style="width:14%">
            <tr>
                <h3> Copies corrigés:</h3>
                <th> Heure de remise</th>
            </tr>
            <tr>
                <div class="detailNotFound">
                    <p style="line-height:30px">Aucun travail n'a été remis à l'enseignant</p>
                </div>
            </tr>
            <td class="detail"><p style="line-height:30px">travailbatard.zip</p></td>
            <td class="second-column">2023-06-28(8:42)</td>
        </table>

        <table class="tableauListeResmises">
            <col style="width:86%;">
            <col style="width:14%">
            <tr>
                <h3> Remise antérieures:</h3>
                <th> Heure de remise</th>
            </tr>
            <tr>
                <div class="detailNotFound">
                    <p style="line-height:30px">Aucun travail n'a été remis à l'enseignant</p>
                </div>
            </tr>
            <td class="detail"><p style="line-height:30px">travailbatard.zip</p></td>
            <td class="second-column">2023-06-28(8:42)</td>
        </table>

        <h3>Nouvelle remise:</h3>
        <div class=remiseTravailContainer>
            <div class="remiseTitreTravailContainer">
                <p style="padding-left: 10px;">Remise</p>
            </div>
            <div class="detailTravailContainer">
                <app-drop-box></app-drop-box>
            </div>
        </div>

        <table class="tableauListeResmises">
            <col style="width:86%;">
            <col style="width:14%">
            <tr>
                <h3> Remises antérieures:</h3>
                <th> Heure de remise</th>
            </tr>
            <tr>
                <div class="detailNotFound">
                    <p>Aucun travail fichier déposé.</p>
                </div>
            </tr>
            <td class="detail"><p>travailbatard.zip</p></td>
            <td class="second-column">2023-06-28(8:42)</td>
        </table>
    </div>
</div>