.singleTravailContainer{
    position: relative;
    background-color: #d9d9d9;
    border-radius: 40px;
    box-shadow: 0px 3px 5px grey;
}

.titreTravailContainer{
    background-color: #018849;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 0px 3px 5px grey;
    color: white;
    text-align: center;
    font-size: x-large;
}

.remiseTravailContainer{
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 5px grey;
}

.remiseTitreTravailContainer{
    background-color: #018849;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 3px 5px grey;
    color: white;
    text-align: left;
    font-size: large;
}

.detailTravailContainer{
    padding: 25px;
}

.detail{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
    text-align: left;
}

.detailNotFound{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
    color:#df1f12
}

.tableauListeResmises{
    width: 100%;
}

.informations{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 25px;
}

.first-column{
    padding-left: 25px;
    text-align: left;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}

.second-column{
    text-align: center;
}

.third-column{
    text-align: center;
}

.buttonBleu{
    background-color: #2980B9;
    border-radius: 25px;
    padding: 2px;
    box-shadow: 0px 3px 5px grey;
    color: white;
    text-align: center;
}

.buttonVert{
    background-color: #018849;
    border-radius: 25px;
    padding: 2px;
    box-shadow: 0px 3px 5px grey;
    color: white;
    text-align: center;
}