<div class="content">

    <div *ngIf="showSemester">
        <p>Mes sessions:</p>

        <ul>
            <li *ngFor="let semester of semesterList" (click)="selectedSession=getLink('s'+semester);">
                <a [class.selected]="selectedSession==getLink('s'+semester)" [routerLink]="['/session', getLink('s'+semester)]">{{semester}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="showTeachings">
        <p>Enseignement:</p>
        <ul>
            <li *ngFor="let teaching of teachingList" (click)="selectedSession=getLink('t'+teaching)">
                <a [class.selected]="selectedSession==getLink('t'+teaching)" [routerLink]="['/enseignement', getLink('t'+teaching)]">{{teaching}}</a>
            </li>
        </ul>
    </div>



</div>