<div class="content">

    <div *ngIf="showSemester">
        <p>Mes sessions:</p>

        <ul>
            <li *ngFor="let semester of semesterList" (click)="selectedSession=getLink('s'+semester.name);">
                <a [class.selected]="selectedSession==getLink('s'+semester.name)" [routerLink]="['/session', semester.id_session, getLink(semester.name)]">{{semester.name}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="showTeachings">
        <p>Enseignement:</p>
        <ul>
            <li *ngFor="let teaching of teachingList" (click)="selectedSession=getLink('t'+teaching.name)">
                <a [class.selected]="selectedSession==getLink('t'+teaching.name)" [routerLink]="['/enseignement', teaching.id_session, getLink(teaching.name)]">{{teaching.name}}</a>
            </li>
        </ul>
    </div>


</div>