<div class="singleCoursContainer">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="titreCoursContainer">
        Projet : Conception d'un système répartis
    </div>

    <div class="infoCoursContainer">
        <h3>Informations:</h3>
        <div class="informations">
            <p>Sigle du cours: </p>
            <p>Professeur(s) en charge: </p>
        </div>

        <h3>Remises: <span class="spanLeft">Correction</span><span class="spanLeft">Status</span></h3>
        <div class="informations">
            <ul>
                <li>Remise 1 
                    <span class="boutton">Obtenir
                        <span class="material-symbols-outlined">
                            download
                        </span>
                    </span>
                </li>
                <li>Remise 2</li>
                <li>Remise 3</li>
                <li>Remise 4</li>
            </ul>
        </div>
    </div>
</div>