<div *ngFor="let class of classList" class="singleCoursContainer">
    <div [routerLink]="['/session', sessionID ,selectedSession, class.classTag]" class="titreCoursContainer">
        {{class.name + " (" + class.classTag + ")"}}
    </div>

    <div class="infoCoursContainer">
        <p style="font-weight: bold;">Professeur(s) en charge</p>

        <ul>
            <li *ngFor="let teacher of class.teachers">
                <p>{{teacher.first_name + " " + teacher.last_name}}</p>
            </li>
        </ul>

         
        <table *ngIf="class.homework.length > 0" class="tableauListeResmises">
            <col style="width:93%;">
            <col style="width:7%">


            <tr>
                <th class="tableauTitresColones" style="text-align: left;">Remise :</th>
                <th>Status</th>
            </tr>

            <tr *ngFor="let homework of class.homework">
                <td class="hyperlien first-column"><u>{{homework.name}}</u></td>

                <td class="second-column">
                    <span [class]="homework.status" class="material-symbols-outlined">{{homework.status}}</span>
                </td>
            </tr>


        </table>

        <div *ngIf="class.homework.length == 0">
            <br>
            <p style="font-weight: bold;">Aucune remise pour ce cours</p>
        </div>


    </div>
</div>