<div class="singleCoursContainer">
    <div class="titreCoursContainer">
        Projet : Conception d'un système répartis
    </div>

    <div class="infoCoursContainer">
        <h3>Informations:</h3>
        <div class="informations">
            <p>Sigle du cours: </p>
            <p>Professeur(s) en charge: </p>
        </div>

         
        <table class="tableauListeResmises">
            <col style="width:86%;">
            <col style="width:7%">
            <col style="width:7%">


            <tr>
                <th class="tableauTitresColones" style="text-align: left;">Remise :</th>
                <th>Correction</th>
                <th>Status</th>
            </tr>

            <tr>
                <td class="first-column">Remise 1</td>
                <td class="second-column">
                    <a href="">
                        <div class="button">
                            <span style="vertical-align: middle;">Obtenir</span><span class="iconButton material-symbols-outlined">download</span>
                        </div>
                    </a>

                </td>
                <td class="third-column">
                    <span class="remis material-symbols-outlined">check_circle</span>
                </td>
            </tr>


        </table>

    </div>
</div>