<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<h1>Projet : Conception d'un système répartis</h1>
<div class="singleTravailContainer">
    <div class="titreTravailContainer">
        Edition d'un travail
    </div>

    <div class="detailTravailContainer">
        <h3>Informations:</h3>
        <div class="detail">
            <p style="line-height:30px">Nom du travail: <textarea matInput rows="1" cols="50" placeholder="Nom" maxlength="150" style="resize:none;"></textarea> </p>


            <table class="tableauListeResmises">
                <col style="width:15%">
                <col style="width:85%">

                <tr>
                    <td style="line-height:30px">Date limite de remise: </td>
                    <td> 
                        <input [ngxTimepicker]="picker">
                        <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:30px">Ouverture des dépots: </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td style="line-height:30px">Fermeture des dépots: </td>
                    <td> 
                        
                    </td>
                </tr>
            </table>
        </div>
        
        <h3>Description:</h3>
        <div style="margin-bottom: 15px; margin-top: 10px;">
            <textarea rows="4" placeholder="Description du travail." style="width:100%; font-size: 1.3em; resize:none;"></textarea> 
        </div>
        <h3>Fichiers:</h3>
        <div class=remiseTravailContainer>
            <div class="remiseTitreTravailContainer">
                <p style="padding-left: 10px;">Ajoutez les fichiers associés à cette remise</p>
            </div>
            <div class="detailTravailContainer">
                <app-drop-box></app-drop-box>
            </div>
        </div>


        <table class="buttonTable">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:70%">
            <tr>
                <td>
                    <div (click)="enregistrer()" class="button buttonEnregistrer">
                        <span style="vertical-align: middle;">Enregistrer</span><span class="iconButton material-symbols-outlined">save</span>
                    </div>
                </td>
                <td> 
                    <div class="button buttonSupprimer">
                        <span style="vertical-align: middle;">Supprimer</span><span class="iconButton material-symbols-outlined">close</span>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
