<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="singleTravailContainer">
    <div class="titreTravailContainer">
        Projet : Conception d'un système répartis
    </div>

    <div class="detailTravailContainer">
        <h3>Informations:</h3>
        <div class="detail">
            <p style="line-height:30px"> Taille des équipes: de <textarea matInput rows="1" cols="1" placeholder="1"></textarea> </p>
        </div>
        <h3>Remises:</h3>
    </div>
</div>
